:root {
  --timing: 400ms;
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  perspective: 1000px;
}

img {
  max-width: 100%;
}

.globo {
  width: 250px;
  aspect-ratio: 9 / 16;
  position: relative;
  /* background-image: url(bg.png); */
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;

  
}

.globo:hover {
  rotate: x 25deg;
  
}

.globo::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: peru; */
  z-index: 100;
  background-image: radial-gradient(circle, transparent 100px, #101112c8);
  opacity: 0;
  transition: opacity var(--timing);
  
}

.globo:hover::before {
  opacity: 1;
  
}

.globo::after {
  content: "";
  position: absolute;
  inset: 80% 0.5rem 0.5rem;
  translate: 0;
  transform: translateZ(-100px);
  background: black;
  filter: blur(2rem);
  z-index: 1;
  transition: rotate var(--timing), translate var(--timing);
  
}

.globo:hover::after {
  rotate: x -30deg;
  translate: 0 60px;

}

.globo-bg {
  position: absolute;
  z-index: 10;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

.logo,
.image-front {
  position: absolute;
}

.logo {
  z-index: 1000;
  width: 65%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem) translateZ(30px);
  transition: var(--timing);
}

.globo:hover .logo, .globo:hover .image-front {
  transform: translateY(-2rem) translateZ(30px);
  rotate: x -30deg;
}

.image-front {
    scale: 1.25;
  opacity: 0;
  width: 65%;
  margin-inline: auto;
  transform-origin: bottom;
  inset: auto 0;
  transition: var(--timing);
  z-index: 100;
  
  
}

.globo:hover .image-front{
    opacity: 1;
    width: 65%;
  margin-inline: auto;
  inset: auto 0;
}